doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")  
    script(type="text/javascript").
      $(document).ready(function(){
        $(".display").hide();            $("input[type='radio']").click(function(){
              
              if ($(this).attr("id") == "trigger"){
                  $(".display").show();
              }
              else
                  $(".display").hide();
            });

      });
  body#content
    block content
